*{margin: 0;padding: 0;font-family: "微软雅黑" !important;}
html{font-size: 20px;}
li{ list-style:none; }
a{ text-decoration:none; }
img{ vertical-align:top; }
header{
	width: 18.0rem;
	height: 1.25rem;
	overflow: hidden;
	background: #1b1b1b;
}
header img{
	float: left;
	margin-top: 0.1rem;
	margin-left: 0.25rem;
	width: 1.975rem;
}
header h2{
	color: #fff;
	float: left;
	margin-top: 0.5rem;
	margin-left: 0.25rem;
	font-size: 0.45rem;
	font-weight: bold;
}
header p{
	font-size: 0.45rem;
	height: 100%;
	padding-left: 0.875rem;
	color: #fff;
	font-weight: bold;
	float: right;
	margin-right: 0.2rem;
	line-height: 1.25rem;
	background: url(../images/phone.png) no-repeat 0 center;
	background-size: 0.55rem 0.65rem;
	padding-top: 0.125rem
}
.banner{
	width: 18.0rem;
	position: relative;
}
.banner img{
	display: block;
	width: 18.0rem;
}
.ban{
	width: 3.325rem;
	height: 3.325rem;
	position: absolute;
	bottom: 0;
	overflow: hidden;
	animation: run 3s forwards infinite linear
}
@keyframes run{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}
.ban_c{
	width: 3.075rem;
	height: 3.075rem;
	border-radius: 50%;
	margin: 0.125rem auto;
	animation: run2 3s forwards infinite linear;
	overflow: hidden;
}
@keyframes run2{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(-360deg);
	}
}
.ban_c h3{
	font-size: 0.6rem;
	color: #fff;
	text-align: center;
	height: 0.6rem;
	line-height: 0.6rem;
	margin-top: 0.75rem;
}
.ban_c p{
	font-size: 0.6rem;
	color: #fff;
	text-align: center;
	height: 0.6rem;
	line-height: 0.6rem;
	margin-top: 0.3rem;
}
.ban1{
	background: url(../images/zg1.png) no-repeat center;
	background-size: 3.325rem 3.325rem;
	left: 2.875rem;
}
.ban1_c{
	background: #e4007f;
}
.ban2{
	background: url(../images/zg2.png) no-repeat center;
	background-size: 3.325rem 3.325rem;
	left: 7.25rem;
}
.ban2_c{
	background: #00b7ee;
}
.ban3{
	background: url(../images/zg3.png) no-repeat center;
	background-size: 3.325rem 3.325rem;
	left: 11.675rem;
}
.ban3_c{
	background: #ec6941;
}
.main1{
	width: 18.0rem;
	height: 8.075rem;
	overflow: hidden;
	background: url(../images/main1.jpg) no-repeat center center;
	background-size: 18.0rem 8.075rem;
}
.main1 a{
	display: block;
	width: 3.875rem;
	height: 3.125rem;
	float: right;
	margin-right: 3.3rem;
	margin-top: 1.375rem;
}
.main2{
	width: 18.0rem;
	height: 12.675rem;
	overflow: hidden;
	background: url(../images/main2.jpg) no-repeat center;
	background-size: 18.0rem 12.675rem;
}
.main2 h2{
	line-height: 5.35rem;
	text-align: center;
	font-size: 1.05rem;
	color: #f4fc7b;
}
.main2 h2 strong{
	font-size: 1.35rem;
}
.main2 h2 span{
	background: #1c4279;
	display: inline-block;
	margin-left: 0.125rem;
	padding: 0 0.125rem;
	color: #f4fc7b;
	height: 1.35rem;
	line-height: 1.4rem;
}
.m2_p1{
	font-size: 0.7rem;
	line-height: 0.7rem;
	margin-top: 0.875rem;
	color: #1c4279;
	text-align: center;
}
.main2 form{
	width: 100%;
	overflow: hidden;
}
.main2 form .phone{
	width: 15.675rem;
	height: 2.475rem;
	background: #fff;
	border-radius: 0.125rem;
	margin: 1.1rem auto 0;
	overflow: hidden;
}
.main2 form .phone input{
	width: 14.25rem;
	height: 1.875rem;
	margin: 0.3rem auto 0;
	background: #e5eff4;
	display: block;
	border: none;
	outline: none;
	padding-left: 0.625rem;
	font-size: 0.6rem;
}
.main2 form .sub{
	margin-top: 1.375rem;
	text-align: center;
}
.main2 form .sub input{
	width: 12.6rem;
	height: 2.225rem;
	color: #fff;
	font-size: 0.75rem;
	line-height: 2.225rem;
	text-align: center;
	border: none;
	outline: none;
	background: #982e0d;
	border-radius: 0.175rem;
}
.m2_p2{
	font-size: 0.65rem;
	text-align: center;
	line-height: 0.65rem;
	margin-top: 1.05rem;
	color: #fff;
}
.m2_p2 span{
	color: #f4fc7b;
	font-weight: bold;
}
.main3{
	width: 18.0rem;
	height: 14.75rem;
	overflow: hidden;
	background: #eef8fc;
}
.m6_p2 span{
	color: #982e0d;
	font-weight: bold;
}
.main3 h2{
	font-size: 1.05rem;
	line-height: 1.15rem;
	height: 1.15rem;
	color: #1c4279;
	margin-top: 1.325rem;
	text-align: center;
}
.main3 ul{
	overflow: hidden;
	width: 17.5rem;
	margin: 1.35rem auto 0;
}
.main3 ul li{
	width: 5.975rem;
	padding-left: 2.2rem;
	height: 2.575rem;
	text-align: center;
}
.main3 ul li h3{
	font-size: 0.7rem;
	line-height: 0.7rem;
	margin-top: 0.525rem;
	color: #fff;
}
.main3 ul li p{
	font-size: 0.7rem;
	line-height: 0.7rem;
	margin-top: 0.275rem;
	color: #fff;
}
.main3 ul li:nth-child(1){
	background: url(../images/m3_1.png) no-repeat left center #5998b7;
	background-size: 2.175rem 2.575rem;
	float: left;
}
.main3 ul li:nth-child(2){
	background: url(../images/m3_2.png) no-repeat left center #5998b7;
	background-size: 2.2rem 2.575rem;
	float: right;
}
.main3 ul li:nth-child(3){
	background: url(../images/m3_3.png) no-repeat left center #5998b7;
	background-size: 2.175rem 2.575rem;
	float: left;
	margin-top: 1.2rem;
}
.main3 ul li:nth-child(4){
	background: url(../images/m3_4.png) no-repeat left center #5998b7;
	background-size: 2.2rem 2.575rem;
	float: right;
	margin-top: 1.2rem;
}
.m3_c{
	width: 17.5rem;
	margin: 1.275rem auto 0;
	overflow: hidden;
}
.m3_c p{
	float: left;
	text-align: center;
	line-height: 1.05rem;
	font-size: 0.65rem;
	padding-left: 0.45rem;
	color: #133463
}
.m3_c p span{
	font-weight: bold;
	color: #982e0d
}
.m3_c a{
	float: right;
	display: block;
	width: 7.55rem;
	height: 1.725rem;
	line-height: 1.725rem;
	text-align: center;
	color: #fff;
	background: #982e0d;
	border-radius: 0.125rem;
	margin-top: 0.175rem;
	font-size: 0.75rem;
}
.main4{
	width: 18.0rem;
	overflow: hidden;
	background: url(../images/main4.jpg) no-repeat center top #79badb;
	background-size: 18.0rem 2.725rem
}
.main4 h2{
	font-size: 1.05rem;
	text-align: center;
	line-height: 1.15rem;
	height: 1.15rem;
	margin-top: 2.75rem;
	color: #fff;
}
.main4 h2 span{
	color: #f4fc7b
}
.m4_p1{
	font-size: 0.7rem;
	color: #fff;
	line-height: 0.7rem;
	text-align: center;
	margin-top: 1.0rem;
}
.m4_p1 span{
	font-weight: bold;
	color: #3a5e92
}
.btn_box{
	overflow: hidden;
	margin-left: 0.05rem;
	margin-top: 1.25rem;
}
.btn_box p{
	float: left;
	margin-left: 0.15rem;
	width: 4.275rem;
	height: 1.425rem;
	background: #d5e5ed;
	font-size: 0.6rem;
	line-height: 1.375rem;
	text-align: center;
}
.btn_box p.on2{
	background: #3a5e92;
	font-weight: bold;
	color: #fff
}
.show_box{
	width: 17.5rem;
	overflow: hidden;
	margin: 0 auto;
}
.show_box h3{
	font-size: 0.65rem;
	color: #fff;
	line-height: 2.4rem;
	height: 2.425rem;
	padding-left: 1.125rem;
}
.show_cc{
	width: 17.5rem;
	height: 5.1rem;
	background: url(../images/m4_1.png) no-repeat center;
	background-size: 17.5rem 5.1rem
}
.m4_u1{
	float: left;
	margin-top: 0.65rem;
	margin-left: 1.125rem;
}
.m4_u1 li{
	font-size: 0.55rem;
	line-height: 1.2rem;
	color: #fff;
}
.m4_u2{
	float: right;
	margin-top: 0.5rem;
	margin-right: 1.0rem;
}
.m4_u2 li a{
	display: block;
	width: 4.175rem;
	height: 1.3rem;
	border-radius: 2px;
	background: #1c4279;
	font-size: 0.6rem;
	line-height: 1.25rem;
	text-align: center;
	color: #fff;
	margin-top: 0.475rem;
}
.m4_u3{
	overflow: hidden;
	margin-top: 1.025rem;
	margin-bottom: 1.35rem;
}
.m4_u3 li{
	float: left;
	margin-left: 0.45rem;
}
.m4_u3 li:first-child{
	margin-left: 0.225rem;
}
.m4_u3 li a{
	display: block;
	width: 5.55rem;
	height: 1.15rem;
	border-radius: 2px;
	background: #f4fc7b;
	font-size: 0.5rem;
	text-align: center;
	line-height: 1.2rem;
	color: #333;
}
.main5{
	width: 18.0rem;
	overflow: hidden;
	background: #79badb;
}
.main5 h2{
	font-size: 1.05rem;
	line-height: 1.15rem;
	height: 1.15rem;
	text-align: center;
	color: #fff;
}
.main5 h2 span{
	color: #f4fc7b
}
.m5_p1{
	font-size: 0.7rem;
	line-height: 0.7rem;
	text-align: center;
	margin-top: 1.0rem;
	color: #fff
}
.m5_p1 span{
	color: #3a5e92;
	font-weight: bold;
}
.m5_ul{
	overflow: hidden;
	margin: 0.325rem auto 1.625rem;
}
.m5_ul li{
	width: 5.175rem;
	height: 2.25rem;
	float: left;
	margin-left: 0.6rem;
	margin-top: 1.05rem;
	text-align: center;
}
.m5_ul li h3{
	font-size: 0.6rem;
	line-height: 0.6rem;
	margin-top: 0.375rem;
}
.m5_ul li a{
	font-size: 0.6rem;
	line-height: 0.6rem;
	margin-top: 0.25rem;
	display: block;
}
.m5_ul li:nth-child(odd){
	background: #fff;
	color: #35598f
}
.m5_ul li:nth-child(odd) a{
	color: #35598f
}
.m5_ul li:nth-child(2),.m5_ul li:nth-child(8){
	background: #3a6196;
}
.m5_ul li:nth-child(even){
	color: #fff
}
.m5_ul li:nth-child(even) a{
	color: #fff
}
.m5_ul li:nth-child(4),.m5_ul li:nth-child(6){
	background: #68a4c9;
}
.main6{
	width: 18.0rem;
	overflow: hidden;
	background: url(../images/main6.jpg) no-repeat center top #eef8fc;
	background-size: 18.0rem 0.95rem
}
.main6 h2{
	font-size: 1.05rem;
	line-height: 1.15rem;
	height: 1.15rem;
	text-align: center;
	margin-top: 1.75rem;
	color: #1c4279;
}
.main6 h2 span{
	color: #982e0d
}
.m6_p1{
	font-size: 0.7rem;
	color: #1c4279;
	text-align: center;
	line-height: 0.7rem;
	margin-top: 0.925rem;
}
.m6_p1 span{
	color: #982e0d;
	font-weight: bold;
}
.main6 form{
	overflow: hidden;
	margin-top: 1.175rem;
}
.main6 form > div{
	width: 15.675rem;
	height: 2.475rem;
	margin: 1.35rem auto 0;
	background: #1c4279;
	border-radius: 3px;
	overflow: hidden;
}
.main6 form > div input{
	width: 14.45rem;
	height: 1.875rem;
	display: block;
	margin: 0.3rem auto 0;
	background: #e5eff4;
	padding-left: 0.625rem;
	font-size: 0.6rem;
	border: none;
	outline: none;
}
.main6 form > input{
	width: 12.6rem;
	height: 2.225rem;
	font-size: 0.75rem;
	color: #fff;
	line-height: 2.25rem;
	text-align: center;
	display: block;
	margin: 1.475rem auto 1.2rem;
	background: #982e0d;
	outline: none;
	border: none;
	border-radius: 0.175rem;
}
.m6_p2{
	font-size: 0.65rem;
	line-height: 0.65rem;
	text-align: center;
	color: #1c4279
}
.m6_p3{
	font-size: 0.65rem;
	text-align: center;
	line-height: 0.65rem;
	margin: 0.95rem auto 1.075rem;
	color: #1c4279;
	font-weight: bold;
}
.m6_p3 span{
	color: #982e0d
}
.main7{
	width: 18.0rem;
	height: 11.85rem;
	overflow: hidden;
}
.main7 img{
	width: 18.0rem;
}
.main8{
	width: 18.0rem;
	height: 23.6rem;
	overflow: hidden;
	background: url(../images/main8.jpg) no-repeat center;
	background-size: 18.0rem 23.6rem;
	position: relative;
}
.main8 h2{
	font-size: 1.05rem;
	text-align: center;
	line-height: 1.15rem;
	height: 1.15rem;
	color: #1c4279;
}
.main8 h2 span{
	color: #982e0d;
}
.main8 p{
	font-size: 0.6rem;
	color: #333;
	line-height: 1.05rem;
	text-align: center;
	position: absolute;
}
.m8_p1{
	left: 1.125rem;
	top: 5.25rem;
}
.m8_p2{
	left: 9.2rem;
	top: 5.25rem;
}
.m8_p3{
	left: 1.0rem;
	top: 12.2rem;
}
.m8_p4{
	left: 9.55rem;
	top: 12.2rem;
}
.m8_p5{
	left: 0.85rem;
	top: 19.325rem;
}
.m8_p6{
	left: 9.85rem;
	top: 19.325rem;
}
.main9{
	width: 18.0rem;
	overflow: hidden;
	background: #eef8fc;
	padding-bottom: 1.4rem;
}
.main9 h2{
	font-size: 1.05rem;
	line-height: 1.15rem;
	height: 1.15rem;
	text-align: center;
	color: #1c4279
}
.main9 h2 span{
	color: #982e0d
}
.m9_p1{
	font-size: 0.7rem;
	text-align: center;
	color: #1c4279;
	line-height: 0.7rem;
	margin-top: 1.175rem;
}
.m9_p1 span{
	font-weight: bold;
	color: #982e0d
}
.swiper-container{
	width: 17.45rem;
	height: 10.875rem;
	margin: 1.225rem auto 0;
}
.swiper-slide{
	width: 17.45rem;
	height: 10.875rem;
	overflow: hidden;
	background: url(../images/tcq.png) no-repeat center;
	background-size: 17.45rem 10.875rem
}
.swiper-slide img{
	float: left;
	display: block;
	width: 6.275rem;
	margin-left: 0.6rem;
	margin-top: 1.5rem;
	width: 6.275rem
}
.tc_jx{
	width: 10.25rem;
	float: left;
	margin-left: 0.25rem;
	margin-top: 1.8rem;
}
.tc_jx h3{
	font-size: 0.95rem;
	line-height: 0.95rem;
	color: #982e0d;
}
.tc_jx h3 span{
	font-size: 0.6rem;
	color: #333;
}
.tc_jx p{
	font-size: 0.6rem;
	line-height: 0.6rem;
	padding-left: 0.5rem;
	background: url(../images/point.png) no-repeat left center;
	background-size: 0.25rem 0.25rem;
	margin-top: 0.7rem;
}
.tc_jx a{
	font-size: 	0.6rem;
	display: block;
	width: 8.55rem;
	height: 1.525rem;
	background: #982e0d;
	color: #fff;
	text-align: center;
	line-height: 1.525rem;
	border-radius: 0.125rem;
	margin-top: 1.05rem;
}
.main10{
	width: 18.0rem;
	overflow: hidden;
	padding-bottom: 1.25rem;
	background: #eef8fc;
}
.main10 h2{
	font-size: 1.05rem;
	line-height: 1.15rem;
	height: 1.15rem;
	text-align: center;
	color: #1c4279
}
.main10 h2 span{
	color: #982e0d
}
.m10_cc{
	width: 17.5rem;
	overflow: hidden;
	margin: 1.375rem auto 0;
}
.m10_cc li img{
	display: block;
	margin: 0.45rem auto 0;
}
.m10_cc li p{
	font-size: 0.6rem;
	height: 1.3rem;
	line-height: 1.3rem;
	text-align: center;
	color: #333;
}
.m10_cc li:nth-child(1){
	width: 9.675rem;
	height: 6.0rem;
	float: left;
	background: #efefef;
}
.m10_cc li:nth-child(1) img{
	width: 8.8rem;
}
.m10_cc li:nth-child(2){
	width: 7.35rem;
	height: 6.0rem;
	float: right;
	background: #efefef;
}
.m10_cc li:nth-child(2) img{
	width: 6.4rem;
}
.m10_cc li:nth-child(3){
	width: 5.575rem;
	height: 6.0rem;
	float: left;
	background: #efefef;
}
.m10_cc li:nth-child(3) img{
	width: 4.675rem;
}
.m10_cc li:nth-child(4){
	width: 11.45rem;
	height: 6.0rem;
	float: right;
	background: #efefef;
}
.m10_cc li:nth-child(4) img{
	width: 10.525rem;
}
.main11{
	background: #eef8fc;
	padding-bottom: 3.5rem;
}
.main11 h2{
	margin-top: 0
}
.foot{
	width: 18.0rem;
	height: 2.3rem;
	position: fixed;
	bottom: 0;
	overflow: hidden;
	z-index: 999
}
.foot a{
	float: left;
	width: 9.0rem;
	height: 2.3rem;
	display: block;
	font-size: 0.75rem;
	line-height: 2.3rem;
	text-align: center;
	color: #fff;
}
.foot a:first-child{
	background: #000;
}
.foot a:last-child{
	background: #cc0000;
}